services:
  db:
    image: postgres:16
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: "123"
      POSTGRES_DB: frog
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./db/init:/docker-entrypoint-initdb.d
    ports:
      - "5433:5432" 
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d frog"]
      interval: 5s
      timeout: 5s
      retries: 5

  backend:
    build: ./backend
    depends_on:
      - db
    ports:
      - "3001:3001"
    environment:
      DATABASE_URL: postgresql://postgres:123@db:5432/frog
      DB_HOST: db
      DB_PORT: 5432
      DB_USER: postgres
      DB_PASS: "123"
      PORT: 3001
    volumes:
      - ./backend:/app
    entrypoint: ["/app/entrypoint.sh"]
    command: ["python", "main.py"]

  frontend:
    build: ./frontend
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    depends_on:
      - backend
    environment:
      - CHOKIDAR_USEPOLLING=true

volumes:
  postgres_data:
