*{
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
}

.central{
    height: 100%;
    width: 100%;
}

.Acima{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10%;
    border-radius: 0 0 20px 20px;
    background-color: var(--primaryColor);
}

.ListaHome ul {
  display: flex;
  gap: 35px;
  padding: 0;
  margin: 0;
}

.ListaHome li:hover{
    text-decoration: none;
    cursor: pointer;
}

.ListaHome {
    font-weight: bold;
    font-size: 1.2rem;
    margin: 3%;
    color: white;
}

.AcessarFrog {
  font-weight: bold;
  font-size: 1.2rem;
  font-family: var(--bodyFont);
  position: absolute;
  right: 4%;
  display: flex;
  align-items: center;
  gap: 20px;
}

.btnCadastrarHome {
    font-family: var(--bodyFont);
    background-color: white;
    color: var(--primaryColor);
    padding: 8px;
    border-radius: 10px;
}

.btnEntrarHome{
    font-family: var(--bodyFont);
    color: white;
}

.btnCadastrarHome:hover, .btnEntrarHome:hover{
    cursor: pointer;
}

.CorpoHome {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.CorpoHome h1{
    text-align: center;
    font-family: var(--titleFont);
    color: var(--primaryColor);
    font-size: 2.5rem;
}

.CorpoHome p{
    margin-top: 8%;
    text-align: center;
    font-family: var(--bodyFont);
    font-size: 1.5rem;
}

.imgSapinho {
  position: fixed;
  bottom: 0;
  left: -30px;
  width: 100%;    
  pointer-events: none; 
  user-select: none;
  z-index: 1;
}

.imgCaixa {
  position: fixed;
  bottom: 0;
  right: -125px;
  width: 100%;    
  pointer-events: none;
  user-select: none;
  z-index: 1;
}

.fadeInFull {
  opacity: 0;
  animation: fadeSlideLong 1.2s ease forwards;
}

@keyframes fadeSlideLong {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

