@import "tailwindcss";

@font-face {
  font-family: CocogooseRegular;
  src: url("..\\src\\assets\\fonts\\cocogoose\\Cocogoose-Pro-Regular-trial.ttf");
}

@font-face {
  font-family: ChocolatesRegular;
  src: url("..\\src\\assets\\fonts\\tt_chocolates\\TT Chocolates Trial Regular.otf");
}

html,
body {
  color-scheme: light only;
}
