@import "tailwindcss";

@font-face {
  font-family: CocogooseRegular;
  src: url("../public/fonts/cocogoose/Cocogoose-Pro-Regular-trial.ttf");
}

@font-face {
  font-family: Chocolates;
  src: url("../public/fonts/tt_chocolates/TT\ Chocolates\ Trial\ Regular.otf");
  font-weight: normal;
}

@font-face {
  font-family: Chocolates;
  src: url("../public/fonts/tt_chocolates/TT\ Chocolates\ Trial\ DemiBold.otf");
  font-weight: bold;
}

html,
body {
  color-scheme: light only;
  height: 100% !important;
}

:root {
  --primaryColor: rgba(53, 172, 151, 1);
  --accentColor: white;

  --tittleFont: "CocogooseRegular", sans-serif;
  --bodyFont: Chocolates, sans-serif;
}

