@import "tailwindcss";

@font-face {
  font-family: CocogooseRegular;
  src: url("..\\src\\assets\\fonts\\cocogoose\\Cocogoose-Pro-Regular-trial.ttf");
}

@font-face {
  font-family: ChocolatesRegular;
  src: url("..\\src\\assets\\fonts\\tt_chocolates\\TT Chocolates Trial Regular.otf");
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
