@import "tailwindcss";

@font-face {
  font-family: CocogooseRegular;
  src: url("/fonts/cocogoose/Cocogoose-Pro-Regular-trial.ttf");
}

@font-face {
  font-family: ChocolatesRegular;
  src: url("/fonts/tt_chocolates/TT\ Chocolates\ Trial\ Regular.otf");
}

@font-face {
  font-family: ChocolatesBold;
  src: url("/fonts/tt_chocolates/TT\ Chocolates\ Trial\ DemiBold.otf");
}

html,
body {
  color-scheme: light only;
  height: 100% !important;
}

:root {
  --primaryColor: rgba(53, 172, 151, 1);
  --accentColor: white;

  --bodyFont: "CocogooseRegular", sans-serif;
}

