
.page {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.rightContainer {
  background-color: none;
  flex-basis: 55%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

.leftContainer {
  position: relative;
  background: var(--primaryColor);
  flex-basis: 45%;
  border-radius: 0 20px 20px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 3;
}

p {
  text-align: center;
  font-family: var(--bodyFont);
}

h1 {
  font-family: var(--titleFont);
  font-size: 2.5rem;
  color: white;
  text-align: center;
}

.toggleButton {
  margin-top: 20px;
  padding: 1rem 2rem;
  font-size: 1.1rem;
  border-radius: 8px;
  border: none;
  background-color: var(--primaryColor);
  color: white;
  cursor: pointer;
  width: 100%;
  text-align: center;
}

.toggleButton:hover {
  text-decoration: underline;
}

