body {
    font-family: ChocolatesRegular;
}

.sideBar {
  width: 220px;
  min-width: 180px;
  max-width: 240px;
  height: 100vh;
  background: rgb(53, 172, 151);
  display: flex;
  flex-direction: column;
  border-radius: 0 20px 20px 0;
  padding: 20px 10px;
}

.layout {
  display: flex;     
  height: 100vh;
  width: 100vw;        
}

.conteudo {
  flex: 1;              
  padding: 20px;        
  background: #f9f9f9;  
  overflow-y: auto; 
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25%;
}

.menu {
    margin-top: 60px;
    height: 75%;
    display: flex;
    justify-content: center;
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.opcao {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px 12px;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 20px;
}

.opcao img,
.sub-opcao img {
  width: 20px;
  height: 20px;
}

.opcao a:hover,
.opcao a.active {
  background: rgb(0, 138, 126);
  color: #fff;
  padding: 8px 12px; 
  border-radius: 8px; 
}

.opcao a {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;           
  padding: 8px 12px;     
  text-decoration: none;
  color: #ffffff;
  border-radius: 8px;   
}


.opcao span,
.sub-opcao span {
  font-size: 18px;
  color: white;
}

.sub-menu {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.sub-menu.show {
  max-height: 500px;
  width: 100%;
}

.sub-opcao a:hover,
.sub-opcao a.active {
  background: rgb(0, 138, 126);
  color: #fff;
  padding: 8px 15px; 
  border-radius: 8px;
}

.sub-opcao a {
  color: white;
  width: 100%;
  padding: 8px 15px; 
}

.sub-opcao {
  padding: 6px 15px 8px;
  border-radius: 6px;
}

.alinhar {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
  padding: 8px 12px;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
}

.alinhar:hover {
  background: rgb(0, 138, 126);
}

