* {
  margin: 0;
  box-sizing: border-box;
}

.divFormEntrar {
  width: 100%;
}

.tituloEntrar {
  color: var(--primaryColor);
  font-family: var(--tittleFont);
  margin-bottom: 10%;
  font-size: 2.5rem;
  text-align: center;
  width: 100%;
}

.formEntrar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.formWrapEntrar {
  position: relative;
  margin-bottom: 5%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btnEntrarConta {
  margin-top: 5%;
  background-color: var(--primaryColor);
  width: 65px;
  height: 35px;
  border-radius: 8px;
  color: white;
  font-size: 1.1rem;
}

.btnEntrarConta.btnEntrarConta:hover {
  cursor: pointer;
}

.lblEntrarConta,
.inputEntrarConta {
  font-family: var(--bodyFont);
}

.btnEntrarConta {
  font-family: var(--bodyFont);
  font-weight: bold;
}

.lblEntrarConta {
  position: absolute;
  top: -8px;
  left: 26.5%;
  background: white;
  padding: 0 2px;
  font-size: 1rem;
  z-index: 1;
}

.inputEntrarConta {
  border: black solid 1.5px;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  z-index: 0;
  position: relative;
  outline: none;
  font-size: 1.1rem;
  height: 50px;
}

.inputEntrarConta:focus {
    border:var(--primaryColor) solid 1.5px;
    color: var(--primaryColor);
}

.formWrapEntrar:focus-within label {
    color: var(--primaryColor);
}

.inputWithError {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
  margin: 0 auto;
}

.inputWithError .inputEntrarConta {
  width: 100%;
}

.error {
  margin-top: 5px;
  color: rgb(187, 25, 25);
  font-size: 0.9rem;
}

