* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
}

.divFormCriar {
  position: relative;
  width: 100%;
}

.tituloCriar {
  color: var(--primaryColor);
  font-family: var(--titleFont);
  margin-bottom: 15%;
  font-size: 2.2rem;
  text-align: center;
  width: 100%;
}

.formCriar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 300%;
  height: 60vh;
  transition: transform 0.5s ease-in-out;
}

.formGroupCriar {
  width: 100%;
  margin-bottom: 2%;
}

.formWrapThree {
  height: 100%;
  position: relative;
  width: 20%;
  transition: transform 0.5s ease-in-out;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.formCriarWrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.lblCriarConta {
  position: relative;
  top: 15px;
  left: 26.5%;
  background: white;
  padding: 0 2px;
  font-size: 1rem;
  z-index: 2;
}

.inputCriarConta {
  border: black solid 1.5px;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  outline: none;
  font-size: 1.1rem;
  height: 50px;
}

.inputCriarConta:focus {
    border:var(--primaryColor) solid 1.5px;
    color: var(--primaryColor);
}

.formGroupCriar:focus-within label {
    color: var(--primaryColor);
}

.fa-arrow-right, .fa-arrow-left {
    color: var(--primaryColor);
    font-size: 1.4rem;
}

.etapaHeader {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: -5rem;
  margin-bottom: 1rem;
  width: 100%;
  flex-direction: column;

}

.btnVoltar {
  position: absolute;
  top: -300px;     /* distância do topo */
  left: 20px;    /* distância da esquerda */
  background: none;
  border: none;
  font-size: 1.2rem;
  color: var(--primaryColor);
  cursor: pointer;
  padding: 0.3rem;
}

.descricaoEtapa {
  font-size: 1rem;
  margin: 0;
}

.esconder {
    visibility: hidden;
}

.btnCriarConta {
  background-color: var(--primaryColor);
  width: 65px;
  height: 30px;
  border-radius: 8px;
  color: white;
  font-size: 1.1rem;
}

.btnCriarConta:hover {
  cursor: pointer;
}

.btnCentro {
  margin-bottom: -22px;
}

#next:hover {
  cursor: pointer;
}

.formGroupCriar > div {
  display: contents;
}