.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
  justify-content: flex-start;
  width: 100%;
  
  --slideWidth: 80%;
}

p {
  font-size: 1.1rem;
}

h2 {
  font-family: var(--titleFont);
  color: var(--primaryColor);
  margin-bottom: 10%;
  font-size: 2.5rem;
  text-align: center;
}

.slide {
  flex: 0 0 100%;
  width: 100%;
  /*center div*/
  display: flex;
  justify-content: center;
}

.stepWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  gap: 5vh;
  margin-bottom: 8vh;
  width: var(--slideWidth);
}

.stepWrapper p {
  margin-bottom: -4%;
}

.stepWrapper > div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: -5%;
}

.formWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%;
  overflow: hidden;
  position: relative;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--slideWidth);
  color: var(--primaryColor);
  font-size: 1.4rem;
  min-height: 10vh;
  gap: 8%;
}

.controls * {
  cursor: pointer;
}

.stepWrapper input {
  border: black solid 1.5px;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  font-size: 1.1rem;
  height: 8vh;
  font: var(--bodyFont);
}

.stepWrapper input:focus {
  outline: none;
  border: 1.5px solid var(--primaryColor);
  color: var(--primaryColor);
}

.stepWrapper > div:focus-within label {
  color: var(--primaryColor);
}

.stepWrapper label {
  position: relative;
  top: 2vh;
  left: 3%;
  background: white;
  padding: 0 6px;
  font-size: 1rem;
  z-index: 2;
  font: var(--bodyFont);
}

.finalizeButton {
  padding: 10px;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  flex-direction: row;
  background-color: var(--primaryColor);
  height: 35px;
  border-radius: 8px;
  color: white;
  font-size: 1.1rem;
}

.finalizeButton p {
  font-family: var(--bodyFont);
  font-weight: bold;
}

.erro {
  color: crimson;
  font-size: 0.9rem;
  font: var(--bodyFont);
}

.erro:hover {
  cursor: default;
  text-decoration: none;
}

