.form-field {
  position: relative;
  width: 100%;

  --svg: url(../../../public/vectors/down-arrow.svg);

  --unfocusedColor: black;

  --fallbackLabelColor: color(lightslategray);
  --fallbackLabelFocusedColor: var(--primaryColor);
  --fallbackPlaceholderColor: lightslategray;
  --fallbackPlaceholderFocusedColor: white;

  --labelColor: var(--unfocusedColor);
  --labelFocusedColor: var(--primaryColor);
  --placeholderColor: color-mix(in oklab, var(--unfocusedColor) 70%, transparent 30%);
  --placeholderFocusedColor: color-mix(in oklab, var(--primaryColor) 100%, white 80%);
}

.form-field > label {
  position: relative;
  top: 2vh;
  left: 3%;
  background: white;
  padding: 0 6px;
  font-size: 1rem;
  z-index: 2;
  font: var(--bodyFont);
  transition: color .18s ease;
  max-width: 90% !important;
  width: fit-content;
  color: var(--unfocusedColor);
}

.form-field > label {
  color: var(--fallbackLabelColor);
  color: var(--labelColor) ;
}

.form-field .input-wrapper > input {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  height: 8vh;
  font-size: 1.1rem;
  font: var(--bodyFont);
  border-radius: 10px;
  border: 1.5px solid var(--unfocusedColor);
  transition: border-color .18s ease, color .18s ease;
}

.form-field:focus-within > label {
  color:var(--fallbackLabelFocusedColor);
  color: var(--labelFocusedColor) ;
}

.form-field .input-wrapper > input::placeholder {
  color:var(--fallbackPlaceholderColor);
  color: var(--placeholderColor);
}

.form-field .input-wrapper > input:focus {
  outline: none;
  border: 1.5px solid var(--fallbackLabelFocusedColor);
  border-color: var(--labelFocusedColor);
  color: var(--fallbackLabelFocusedColor);
  color: var(--labelFocusedColor);
}

.form-field .input-wrapper > input:focus::placeholder {
  color:var(--fallbackPlaceholderFocusedColor);
  color: var(--placeholderFocusedColor);
}

.form-field .input-wrapper > select {
  appearance: base-select;
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  height: 8vh;
  font-size: 1.1rem;
  font: var(--bodyFont);
  border-radius: 10px;
  border: 1.5px solid var(--labelColor);
  transition: border-color .18s ease, color .18s ease;
  padding-left: 1em;
  padding-right: 1em;
}

.form-field .input-wrapper > select:focus{
  outline: none;
  border: 1.5px solid var(--fallbackLabelFocusedColor);
  border-color: var(--labelFocusedColor);
  color: var(--fallbackLabelFocusedColor);
  color: var(--labelFocusedColor);
}

/* style open/hover/checked options if supported by the UA */
.form-field .input-wrapper > select:open > option:checked, 
.form-field .input-wrapper > select:open > option:hover{
  background-color: var(--primaryColor);
  color: rgb(255, 255, 255);
}

select::picker-icon {
  content: "";
  display: inline-block;
  width: 2em;
  height: 2em;
  vertical-align: middle;
  transition: 0.3s ease-in-out;

  -webkit-mask: var(--svg) no-repeat center / contain;
  mask: var(--svg) no-repeat center / contain;

  background-color: currentColor;
}

select:focus::picker-icon {
  background-color: var(--fallbackLabelFocusedColor);
  background-color: var(--labelFocusedColor);
  rotate: 180deg;
  transform: translateY(0.2em);
}

select::checkmark(select) {
  color: transparent;
}
